
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 300px; /* Puedes ajustar esto según sea necesario */
    min-width: 200px; /* Establecer un ancho mínimo */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.image {
    width: 100%;
    height: auto;
}

.content {
    padding: 16px;
}

.title {
    font-size: 1.5rem;
    margin: 0 0 8px 0;
}

.description {
    font-size: 1rem;
    color: #666;
    margin: 0 0 16px 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}
