
.body {
  font-family: Arial, sans-serif;
  color: white;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url('../assets/images/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.acronimoWrapper {
  text-align: center;
  margin-bottom: 50px;
}

.acronimo {
  font-size: 2.5vw;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 1s ease-in;
}

.formContainer-fade-in-active {
  opacity: 1;
}

.button {
  width: 150px;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #08407b;
  color: white;
  text-align: center;
  transition: transform 0.3s ease;
}

.button:hover {
  transform: scale(1.1);
}

.title {
  color: #000;
}

/* Media queries para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
  .acronimo {
    font-size: 6vw;
  }

  .button {
    width: 120px;
    padding: 10px;
    font-size: 14px;
  }

  .formContainer {
    width: 80%;
    padding: 15px;
  }

  .acronimoWrapper {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .acronimo {
    font-size: 8vw;
  }

  .button {
    width: 100px;
    padding: 8px;
    font-size: 12px;
  }

  .formContainer {
    width: 90%;
    padding: 10px;
  }
}
